* {
  box-sizing:border-box;
}

.left {
  background-color:#9C5AC0;
  padding:20px;
  float:left;
  width:25%; 
}

.main {
  background-color:#f1f1f1;
  padding:20px;
  float:left;
  width:50%; 
}

.right {
  background-color:#D960A4;
  padding:20px;
  float:left;
  width:25%; 
}

@media screen and (max-width:600px) {
  .left, .main, .right {
    width:100%; 
  }
}